In [101]:
from IPython.display import Image
%matplotlib inline
import pandas as pd
from io import StringIO
import os
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from math import sqrt
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('autos.csv', encoding='latin-1')
df.head(1)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57

# Dealing with missing data

In [4]:
df.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

## Eliminating samples or features with missing values

In [25]:
# deletes these columns because they are not importatnt
#df.drop(['nrOfPictures', 'dateCrawled','dateCreated', 'lastSeen'], axis = 1)

In [39]:
df = df.dropna()
df.head(5)

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,postalCode
3,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,91074
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,60437
5,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,33775
6,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,67112
7,VW_Derby_Bj_80__Scheunenfund,privat,Angebot,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein,19348

# Partitioning a dataset in training and test sets

In [86]:
# declare our target and features
features = ['price', 'yearOfRegistration',"powerPS","kilometer","monthOfRegistration"]
target = ['price']

In [87]:

from sklearn.model_selection import train_test_split

X = df[features]
y = df[target]

In [92]:
X

        price  yearOfRegistration  powerPS  kilometer  monthOfRegistration
3        1500                2001       75     150000                    6
4        3600                2008       69      90000                    7
5         650                1995      102     150000                   10
6        2200                2004      109     150000                    8
7           0                1980       50      40000                    7
...       ...                 ...      ...        ...                  ...
371520   3200                2004      225     150000                    5
371521   1150                2000        0     150000                    3
371524   1199                2000      101     125000                    3
371525   9200                1996      102     150000                    3
371527  28990                2013      320      50000                    8

[260956 rows x 5 columns]

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(208764, 5) (208764, 1)
(52192, 5) (52192, 1)

In [94]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [95]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[ 1000.        ],
       [28899.99999999],
       [ 1099.        ],
       ...,
       [ 4950.        ],
       [ 1690.        ],
       [ 7500.        ]])

In [96]:
y_test.describe()

              price
count  5.219200e+04
mean   9.029557e+03
std    4.421841e+05
min    0.000000e+00
25%    1.500000e+03
50%    3.800000e+03
75%    8.600000e+03
max    1.000000e+08

In [102]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [103]:
print(RMSE)

1.4418000100615943e-07